*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2'),
        url('./fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
        url('./fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    font-size: 16px;
    font-family: 'Roboto', 'Segoe UI', Verdana, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    color: white;
    padding: 1em;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #1C94D3;
    font-size: 2rem;
    font-family: 'Roboto-bold', 'Segoe UI', sans-serif;

    display: grid;
    gap: 50px;
    grid-template-rows: 1fr 2fr 1fr;
}

.hero, .nav div, .tools div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.nav div:hover, .tools div:hover {
    text-decoration: underline;
    cursor: grab;
}


.heading{
    font-size: 1.5em;
}

.dash-icon {
   fill: white;
   width: 4em;
   height: 4em;
}

.sidebar .nav,.sidebar .tools {
    display: grid;
    margin-left: 1em;
}

.nav div, .tools div {
    height: 2em;
}

.nav div svg, .tools div svg{
    fill: white;
    width: 1em;
    height: 1em;
}

.header {
    grid-row: 1;
    grid-column: 2;

    display: grid;
}

.header .search-row, .header .user-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    gap: 1em;

    padding-left: 3em;
}

.user {
    font-family: 'Roboto-bold', 'Segoe UI', sans-serif;
    font-size: 1.2rem;
    padding-right: 2em;
    justify-self: end;

    display: flex;
    align-items: center;
    gap: 2em;

    p {
        cursor: grab;
    }
}

.pfp {
    cursor: grab;
    position: relative;
    width: 3em;
    height: 3em;
    background-color: #facc14;
    border-radius: 100%;
    img {
        width: 2.2em;
        height: 2.2em;
        position: absolute;
        top: 0.5em;
        left: 0.5em;
    }
}

.pfp-large {
    position: relative;
    min-width: 5em;
    width: 5.2em;
    height: 5.2em;
    background-color: #facc14;
    border-radius: 100%;
    img {
        width: 3.8em;
        height: 3.8em;
        position: absolute;
        top: 0.6em;
        left: 0.6em; 
    }
}


.search-row .search input {
    width: 100%;
    height: 3em;
    border-radius: 2em;
    border: 1px solid #e1e8f0;
    background-color: #e1e8f0;
}

.search-row .search svg, .search-row .user svg {
    width: 2em;
    height: 2em;
    cursor: grab;
}

.user-row .profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;

    font-family: 'Roboto-bold';
    padding-left: 3em;
    span {
        display: block;
        font-size: 1.4rem;
        margin-top: 0.2em;
    }
}

.user-row .buttons {
    display: flex;
    gap: 2em;
    align-items: center;

    justify-self: end;
    padding-right: 2em;
}

.user-row .buttons button {
    color: white;
    font-family: 'Roboto-bold';
    font-size: 1rem;
    background-color: #1C94D3;
    padding: 0.5em 2em;
    border: none;
    border-radius: 2em;
}

.user-row .buttons button:hover {
    background-color: #1871a1;
}

.main-content {
    background-color: #e1e8f0;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4em 1fr;
}

.projects {
    grid-column: 1/ 2;
    grid-row: 2 / 3;
    padding: 1em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 50px;
}

.project-legend {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: 'Roboto-bold';
    font-size: 2rem;
    padding: 1em;
}

.announcement-legend {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-family: 'Roboto-bold';
    font-size: 2rem;
    padding: 1em;
}

.projects .card {
    border-left: 0.5em solid #f0b429;
    border-radius: 0.5em;
    padding: 1em;
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);

    display: grid;

    .name {
        font-family: 'Roboto-bold';
        font-size: 1.8rem;
    }

    .name:hover {
        text-decoration: underline;
        cursor: grab;
    }
    .description {
        max-width: 85%;
        margin: 0.5em 0;
        font-size: 1.2rem;
        color: #636363;
    }

    .icons {
        cursor: grab;
        display: flex;
        justify-content: flex-end;
        gap: 2em;
        svg {
            width: 1.5em;
            height: 1.5em;
        }
    }
}

.miscellaneous {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1em 2em;
}

.announcements {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 2em; 
    
    div {
        cursor: grab;
        font-family: 'Roboto-bold';
        font-size: 1.4rem;
    }

    p {
        margin-top: 0.3em;
        font-size: 1.1rem;
        color: #636363;
    }
    
    hr {
       border-top: 2px solid #e1e8f0 ;
       margin: 1em 0;
    }
}

.trending {
    display: grid;
    grid-template-rows: 4em 1fr;
    
    .trending-legend {
        font-family: 'Roboto-bold';
        font-size: 2rem;
        align-self: self-end;
    }
}
.contents {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    padding: 2em;
    margin-top: 1em;

    display: grid;
    gap: 1em;

    .profile-info {
        padding: 0 3em;
        cursor:grab;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 2fr;
        gap: 0.5em;

        .pfp {
            width: 4em;
            height: 4em;
            min-width: 4em;
            min-height: 4em;
            img {
                width: 3em;
                height: 3em;
            }
        }

        .profile-id div{
            font-family: 'Roboto-bold';
            font-size: 1.2rem;
            margin: 0.2em 0;
        }

        .profile-id p {
            color:#636363;
        }
    }
}

.profile-info.tegan .pfp{
    background-color: #e0f3ff;
    img {
        width: 3em;
        height: auto;
        left: 0.4em;
        top: 1em;
    }
}

.profile-info.kendall .pfp {
    background-color: #a3a3a3;
    img {
        width: 2em;
        height: auto;
        left: 1em;
        top: 0.5em;
    }
}

.profile-info.alex .pfp {
    background-color: #fca4ae;
    img {
        width: 2em;
        height: auto;
        left: 1em;
        top: 0.5em;
    }
}